<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Skills Network Pizza App</title>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <style>
            button { margin: 10px 5px; }
            li { margin: 10px; }
            body { width: 90%; max-width: 960px; margin: 0px auto; }
            #buttons { display: none; }
            h1{ margin: 45px; }
        </style>
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    </head>
    <body>
        <h1>Skills Network Pizza App</h1>
        <audio controls autoplay>
            <source src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-GPXX0E8TEN/labs/data/intro.wav" type="audio/wav">
        </audio>
        <h5 style="font-size:120%;">Upload your address information:</h5>
        <div class="container">
            <div class="row">
                  <div class="col-md-8">
                      <form class="form-inline" action="/get_info_upload_wav" method="post" enctype="multipart/form-data">
                          <input class="form-control mr-sm-2" type="file" name="info_upload_wav">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="uploadButton">Upload</button>
                      </form>
                  </div>
            </div>
        </div>
        <div id="uploadMsg" style="display: none;">
            <p style="font-size:105%;">Audio uploading!</p>
        </div>
        <div class="container" id="requests">
            <button class="btn" id="requestButton">Microphone</button>
        </div>
        <div class="container" id="buttons">
            <button class="btn btn-default" id="startButton">Start Recording</button>
            <button class="btn btn-default" id="stopButton">Stop Recording</button>
            <button class="btn btn-default" id="uploadRecordingButton">Upload</button>
        </div>
        <div>
            <ul class="list-unstyled" id="ul"></ul>
        </div>
        <div id="recordingMsg" style="display: none;">
            <p style="font-size:105%;">Recording!</p>
        </div>
        <div id="uploadRecordingMsg" style="display: none;">
            <p style="font-size:105%;">Audio uploading!</p>
        </div>
    </body>
    <script>
        let id = val => document.getElementById(val),
            log = console.log.bind(console),
            ul = id("ul"),
            requestButton = id("requestButton"),
            startButton = id("startButton"),
            stopButton = id("stopButton"),
            uploadButton = id("uploadButton"),
            uploadRecordingButton = id("uploadRecordingButton"),
            form = document.querySelector("form"),
            media,
            stream,
            recorder,
            audioChunks;
        requestButton.onclick = e =>
        {
            let mediaOptions =
            {
                audio:
                {
                    tag: "audio",
                    type: "audio/wav",
                    ext: ".wav",
                    category: {audio: true, video:false}
                }
            };
            media = mediaOptions.audio;
            id("requests").style.display = "none";
            id("buttons").style.display = "inherit";
            navigator.mediaDevices.getUserMedia(media.category).then(_stream =>
            {
                stream = _stream
                recorder = new RecordRTC(stream,
                {
                    type: "audio",
                    recorderType: RecordRTC.StereoAudioRecorder, // force for all browsers generate audio/wav
                    numberOfAudioChannels: 2
                });
                log("ready for recording");
            }).catch(log);
        }
        startButton.onclick = e =>
        {
            audioChunks=[];
            startButton.disabled = true;
            stopButton.disabled = false;
            recorder.startRecording();
            log("start record");
            document.getElementById("recordingMsg").style.display = "block";
            setTimeout(() => form.submit(), 3000);
        }
        stopButton.onclick = e =>
        {
            startButton.disabled = false;
            stopButton.disabled = true;
            recorder.stopRecording(stopRecordingCallback);
            log("end record");
            document.getElementById("recordingMsg").style.display = "none";
            setTimeout(() => form.submit(), 3000);
        }
        uploadRecordingButton.onclick = e =>
        {
            uploadFile();
            document.getElementById("uploadRecordingMsg").style.display = "block";
            setTimeout(() => form.submit(), 3000);
        }
        uploadButton.onclick = e =>
        {
            document.getElementById("uploadMsg").style.display = "block";
            setTimeout(() => form.submit(), 3000);
        }
        function stopRecordingCallback()
        {
            audioChunks.push(recorder.getBlob());
            displayFile();
        }
        function displayFile()
        {
            let blob = new Blob(audioChunks, {type: media.type}),
                url = URL.createObjectURL(blob),
                li = document.createElement("li"),
                audio = document.createElement(media.tag);
            audio.controls = true;
            audio.src = url;
            li.appendChild(audio);
            ul.appendChild(li);
        }
        function uploadFile()
        {
            let blob = new Blob(audioChunks, {type: media.type}),
                data = new FormData();
            data.set("info_record_wav", blob, `record${media.ext}`);
            fetch("/get_info_record_wav",
            {
                method:"POST",
                body: data
            }).then(response => {log(response.status);});
        }
    </script>
</html>
