<html lang="en">
    <head>
        <title>Skills Network Pizza App</title>
    </head>
    <body>
        <h1>Skills Network Pizza App</h1>
        <audio controls autoplay>
            <source src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-GPXX0E8TEN/labs/data/intro.wav" type="audio/wav">
        </audio>
        <p>Upload your address information:</p>
        <form action="/get_record" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="hidden" name="status" value="info">
            <input type="submit" id="upload" value="Upload">
        </form>
        <div id="msg" style="display: none;">
            <p>Audio uploaded successfully!</p>
        </div>
        <form action="/get_topping" method="post">
            <label>
                <br>
                <input type="submit" value="Next">
            </label>
        </form>
    </body>
    <script>
        const form = document.querySelector("form");
        const msg = document.querySelector('#msg');
        form.addEventListener('submit', (e) =>
        {
            e.preventDefault();
            document.getElementById('msg').style.display = 'block';
            setTimeout(() => form.submit(), 3000);
        });
    </script>
</html>
