<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DoughNation App</title>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <style>
            button { margin: 10px 5px; }
            li { margin: 10px; }
            body { width: 90%; max-width: 960px; margin: 0px auto; }
            #buttons { display: none; }
            h1{ margin: 45px; }
        </style>
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    </head>
    <body>
        <h1>DoughNation App</h1>
        <audio autoplay>
            <source src="/play_local_wav" type="audio/wav">
        </audio>
        <p style="font-size:120%;">We noticed you requested the pizza to be delivered to:</p>
        <p>{{customerAddress}}</p>
        <div class="col-md-8" >
            <form style="display:inline-block;" action="/get_info" method="POST">
                <label>
                    <br>
                    <input class="btn" type="submit" value="Recording Again">
                </label>
            </form>
            <form style="display:inline-block;" action="/get_topping" method="POST">
                <label>
                    <br>
                    <input class="btn" type="submit" value="Continue">
                </label>
            </form>
        </div>
    </body>
</html>
