<html lang="en">
    <head>
        <title>Skills Network Pizza App</title>
    </head>
    <body>
        <h1>Thank you for using the Skills Network Pizza App!</h1>
        <audio controls autoplay>
            <source src="/stream_wav" type="audio/wav">
        </audio>
        <h3>Here are the details of the order:</h3>
        <p>Delivery address: {{customerAddress}}</p>
        <p>Pizza size: {{orderSize}}</p>
        <p>Pizza topping:</p>
        <ul>
            {% for topping in orderTopping %}
                <li>{{topping}}</li>
            {% endfor %}
        </ul>
    </body>
</html>
