<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Skills Network Pizza App</title>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <style>
            button { margin: 10px 5px; }
            li { margin: 10px; }
            body { width: 90%; max-width: 960px; margin: 0px auto; }
            #buttons { display: none; }
            h1{ margin: 45px; }
        </style>
    </head>
    <body>
        <h1>Thank you for ordering pizza through Skills Network Pizza App!</h1>
        <audio controls autoplay>
            <source src="/play_local_wav" type="audio/wav">
        </audio>
        <h3>Here are the details of the order:</h3>
        <p>Delivery address: {{customerAddress}}</p>
        <p>Pizza size: {{orderSize}}</p>
        <p>Pizza topping:</p>
        <ul>
            {% for topping in orderTopping %}
                <li>{{topping}}</li>
            {% endfor %}
        </ul>
    </body>
</html>
