<html lang="en">
    <head>
        <title>Pizza Ordering App</title>
    </head>
    <body>
        <h1>Pizza Ordering App</h1>
        <p>Try the sample audio:</p>
        <button onclick="playAudio()" type="button">Sample 1</button>
        <p>Please select sample audio below:</p>
        <form action="/get_order" method="post">
            <input type="text" name="fileName" value="">
            <input type="submit" value="Submit" />
        </form>

        <audio id="sampleAudio">
            <source src="customer_order/artem_1.wav" type="audio/wav">
        </audio>

        <script>
            var audio = document.getElementById("sampleAudio");
            function playAudio()
            {
                audio.play();
            }
        </script>
    </body>
</html>
