<html>
    <head>
        <title>Pizza Ordering App</title>
    </head>
    <body>
        <h1>Pizza Ordering App</h1>
        <p>Play sample audio below:</p>
        <form action="/play_audio" method="post">
            <input type="hidden" name="fileName" value="artem_1">
            <input type="submit" value="Sample 1" />
        </form>
        <p>Please select sample audio below:</p>
        <form action="/get_order" method="post">
            <input type="text" name="fileName" value="">
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
